body{
    background-color: #dee2e6;
}

footer{
    background-color: #198754;
}

.imagenCarrusel{
    max-height: 30vw;
    width: 100%;
    object-fit: contain;
}

.bannerPromos{
    background-color: white;
}

footer nav{
    background-color: #75b798;
}

.derechosReservados{
    margin-top: 10px;
}

.producto{
    height: 25em;
}

.disponibles{
    font-size: 14px;
    font-style: italic;
}

.nombreProducto{
    font-size: 30px !important;
}

.precioProducto{
    font-size: medium;
}

.mensajeBienvenida{
    font-size: 12px;
    font-weight: bold;
}

.btn.link{
    color: black !important;
    font-size: 12px !important;
    font-weight: bold !important;
}

.imagenLogin{
    background-image: url(../images/club-kits.png);
    background-size: cover;
    max-width: 100%;
    min-height: 400px !important;
}

.fondoLogin{
    background-image: url(../images/wallpaper.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.fondoBlanco{
    margin-top: 100px;
    background-color: white;
}

.botonLogin{
    margin-top: 10px;
    margin-bottom: 100px;
}

.tituloLogin{
    backdrop-filter: blur(10px);
}